<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hxp.doctor.po.Doctor">

    <resultMap id="BaseResultMap" type="com.hxp.doctor.po.Doctor" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="doc_name" property="docName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ID, doc_name
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from DOC_DOCTOR
        where ID = #{id,jdbcType=BIGINT}
    </select>


    <delete id="delete" parameterType="java.lang.Integer" >
        delete from DOC_DOCTOR
        where ID = #{id,jdbcType=BIGINT}
    </delete>


    <insert id="insert" parameterType="com.hxp.doctor.po.Doctor" useGeneratedKeys="true" keyProperty="id">
        insert into DOC_DOCTOR (ID,doc_name)
        values (#{id,jdbcType=BIGINT}, #{docName,jdbcType=VARCHAR})
    </insert>

</mapper>